.button {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--button-text-size);
}

.primary {
  background-color: var(--white-color);
  color: black;
  border: 2px solid var(--primary-color);
}

.primary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
