.button {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  padding: var(--s) var(--m);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--button-text-size);
  margin: var(--s) var(--s) var(--none) var(--none);
}

.primary {
  background-color: var(--white-color);
  color: black;
  border: 2px solid var(--primary-color);
}

.primary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.secondary {
  background-color: var(--white-color);
  color: black;
  border: 2px solid var(--error-color);
}

.secondary:hover {
  background-color: var(--secondary-color);
  color: var(--error-color);
}

.google {
  background-color: var(--success-color);
  color: var(--white-color);
  border: 2px solid var(--warning-color);
}

.google:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
