:root {
  /* Palette */
  --primary-color: #008cba;
  --on-primary-color: indianred;
  --white-color: white;
  --error-color: #f44336;
  --warning-color: #ff9800;
  --success-color: #4caf50;
  --on-secondary-color: white;
  --nav-primary-color: #333;
  --nav-hover-color: #111;
  --nav-active-color: #008cba;
  --nav-exit-color: #f44336;

  --grid-background-color: #2196f3;

  --gray-color: hsl(0, 0%, 90%);
  --gray-color-900: hsl(0, 0%, 50%);

  /* Typography */
  --body-font: "Open sans";
  --title-font: "Open sans";
  --body-size: 16px;
  --subtitle-size: 14px;
  --button-text-size: 16px;

  /* Spacing */
  --none: 0px;
  --base: 0.25rem;
  --s: calc(var(--base) * 2);
  --m: calc(var(--base) * 4);
  --l: calc(var(--base) * 8);

  /* Misc */
  --content-width: 40rem;
  --shadow: 0px 3px 15px 0px hsla(0, 0%, 0%, 0.3);
  --radius: 5px;
}
